# Ignore node_modules directory
node_modules/
.vscode/
# Ignore log files
*.log

# Ignore environment variables file
.env

# ignore temp folder
uploads/

# Ignore build output
build/

# Ignore package-lock.json file
package-lock.json
.env
